node_modules
.git
.gitignore
.DS_Store
npm-debug.log
yarn-error.log
build
dist
.expo
.expo-shared
.vscode
*.tar.gz
*.zip
*.apk
*.aab
README.md 
*.log
*.tmp
*.bak
*.swp
*.lock
.idea
coverage
test-results
*.iml
*.db
*.sqlite
*.mp4
*.mov
*.avi
*.psd
*.ai
*.sketch 
